.common{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
    height: 100px;
    background-color: black;
    color: white;
    line-height: 100px;
}

.mainbody{
    background-color: white;
}

.footer{
    background-color: royalblue;
    color: white;
    height: 25px;
    position: fixed;
    bottom: 0px;
    right: 5px;
    left: 5px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text{
    color: darkslategray;
}

nav{
    background-color: lightgray;
    padding: 10px;
    overflow: hidden;
}

nav a:hover{
    background-color: tan;
}

nav a{
    float: left;
    color: navy;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}